@import "./variables";
@import "./mixin";

.carousel-item {
    img {
        width: 100%;
        height: auto;
    }

    div {
        h3 {
            font-family: $tipografia-4;
            font-weight: bold;
            font-size: 10em;
        }
    }

    p {
        font-family: $tipografia-4;
        font-size: 1.5em;

        kbd {
            background-color: map-get($colores,gris);
        }
    }
}


@media only screen and (max-width:445px) {
    @include tamaño_letras_responsive (1.5em, 0.4em);

    .carousel-indicators {
        display: none;
    }

    .carousel-caption {
        position: absolute;
        top: 0.9em;
    }
}

@media only screen and (min-width:445px) and (max-width:600px) {
    @include tamaño_letras_responsive (3em, 0.5em);

    .carousel-indicators {
        display: none;
    }
}


@media only screen and (min-width:600px) and (max-width:845px) {
    @include tamaño_letras_responsive (4.2em, 0.7em);

    .carousel-indicators {
        display: none;
    }
}

@media only screen and (min-width:845px) and (max-width:1165px) {
    @include tamaño_letras_responsive (5.2em, 0.9em);
}