@import "./variables";
@import "./maps";

label{
    font-family: $tipografia-5;
    color: map-get($colores,negro);
    font-weight: bold;
}
input, textarea{
    font-family:$tipografia-2;
}
legend{
    font-family:$tipografia-1;
    font-size: 2.5em;
}

button{
    font-family:$tipografia-2;
    color: map-get($colores,negro);
    transition:.8s;
}
button:hover{
    box-shadow: 4px 2px 5px map-get($colores,negro);
}