@import "./variables";
@import "./maps";

body{
    div{
        position: relative;
        h1{
            font-family: $tipografia-4;
            font-weight: bold;
            margin-top: 0.5em;
            padding: 5px;
            font-size: 3em;
        }
    }
}
section h5, aside h4, aside footer{
    font-family: $tipografia-2;
}
section p{
    font-family:$tipografia-5;
}
aside p{
    font-family:$tipografia-5;
    color: map-get($colores,negro);
}

footer a img{
    opacity: 0.18;
    transition: .8s;
}
footer a img:hover{
    opacity: 1;
}
