$tipografia-titulos:'Special Elite', cursive;

body{
    div{
        position: relative;
        h1{
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-weight: bold;
            margin-top: 0.5em;
            padding: 5px;
            font-size: 3em;
        }
    }
}
section h5, aside h4, aside footer{
    font-family: $tipografia-titulos;
}
section p{
    font-family: 'Poiret One', cursive;
}
aside p{
    font-family: 'Poiret One', cursive;
    color: #000000;
}

footer a img{
    opacity: 0.18;
    transition: .8s;
}
footer a img:hover{
    opacity: 1;
}