$colores:(
    shadow_1:#f7bd86,
    shadow_2:#dbc027,
    transparente:#00000000,
    blanco: #fff,
    blue_white:#c7d4e2,
    negro: #000,
    gris:#272727,
    light_grey:#818181,
    light_brown:#886e55,
    new_single_box:#09e766,
    new_single_text:#98f574
);