
//Responsive para el Baner
@mixin tamaño_letras_responsive ($h3, $p_kbd) {
    .carousel-item div {
        strong {
            font-size: $h3;
        }
    }

    p {
        kbd {
            font-size: $p_kbd;
        }

    }
}

//Responsive del Menu de Navegacion

@mixin menu_responsive{
    .menu-oficial{
        display: none;
    }
    .submenu li a{
        font-size: 1.5em;
    }
    .menu-secundario{
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}