@import "./variables";
@import "./mixin";
@import "./maps";


.logo{
    width: 150px;
    height: 48.97px;
    margin: auto;
}



.menu-oficial{
    div{
        a{
            font-family: $tipografia-4;
            color: map-get($colores,blanco);
            font-size: 1.8em;
            padding: 0;
            margin: 0;
            transition: .7s;
        }
        a:hover{
            text-shadow: 0 0 70px map-get($colores,shadow_1);
            color: map-get($colores,light_brown);
            transform: scale(1.5);
        }
    }

}



.menu-secundario{
    display: none;
    .nav-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu-barras{
            width: min-content;
            img{
                width: min-content;
            }
        }
        .submenu{
            width: 100vw;
            animation-name: aparece-submenu;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            li{
                a{
                    font-family: $tipografia-4;
                    animation-name: letra-aparece;
                    animation-duration: 0.8s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

@keyframes letra-aparece {
    0%{
        color: map-get($colores,transparente);
        text-shadow: 0 0 10px map-get($colores,transparente);
    }
    50%{
        color: map-get($colores,transparente);
    }
    70%{
        color: map-get($colores,blanco);
        text-shadow: 0 0 10px map-get($colores,shadow_2);
    }
    100%{
        color: map-get($colores,blanco);
        text-shadow: 0 0 10px map-get($colores,transparente);
    }
}


@media only screen and (max-width:445px){
    .logo{
        width: 120px;
        height: auto;
    }
    @include menu_responsive;
    @keyframes aparece-submenu {
        0%{
            height: 0;
        }
        100%{
            height: 11em;
        }
    }
}
@media only screen and (min-width:445px) and (max-width:600px){
    @include menu_responsive;
    @keyframes aparece-submenu {
        0%{
            height: 0;
        }
        100%{
            height: 11em;
        }
    }
}
@media only screen and (min-width:600px) and (max-width:845px){
    @include menu_responsive;
    @keyframes aparece-submenu {
        0%{
            height: 0;
        }
        100%{
            height: 11em;
        }
    }
}