//TIPOGRAFIAS
$tipografia-1:'Damion', cursive;
$tipografia-2:'Special Elite', cursive;
$tipografia-3:'Cinzel', serif;
$tipografia-4:'Yanone Kaffeesatz', sans-serif;
$tipografia-5:'Poiret One', cursive;


//MEDIDAS PARA IFRAME

$ancho:600px;
$alto:600px;